@using CalzadosBadajoz.Modelo;
@model List<object>
@{
    ViewBag.Title = "verFacturas";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
}

<div id="facturas">
    <h2>Facturas</h2>
    <div class="facturas">
        @foreach (TFactura factura in Model)
        {


            @Html.ActionLink("-> Factura " + @factura.CodFactura + " con fecha " + @factura.FechaFactura,
            "detalleFactura", "Usuario", new { CodFactura = @factura.CodFactura }, new { @class = "text-dark" })
        }
    </div>
</div>
