@model CalzadosBadajoz.Modelo.TZapato

@{
    ViewBag.Title = "verZapato";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
}

<div>
    <center><h4> DATOS DE LOS ZAPATOS </h4></center>
</div>

<br /><br /><br />

<div class="container">
    <div class="row">
        <img border="1" alt="Imagen" src=@Model.Imagen width="150" height="150">
    </div>
    <div class="row">
        <label class="col-sm-5">Nombre</label><span class="prop-border col-sm-7">@Model.Nombre</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Marca</label><span class="prop-border col-sm-7">@Model.Marca</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Precio</label><span class="prop-border col-sm-7">@Model.Precio</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Estado</label><span class="prop-border col-sm-7">@Model.Estado</span>
    </div>
</div>


<!--@Html.ActionLink("AÑADIR AL CARRITO", "addCarrito", "Zapato", new { CodZapato = Model.CodZapato, accion = "Consultar" }, null)-->
